<%= turbo_frame_tag dom_id(@post) do %>
  <%= render @post %>

  <div class="mt-4">

    <% if user_signed_in? %>

      <div class="mt-4 pl-4 border-l border-gray-200">
        <h3 class="mt-6 font-bold text-lg">Comments</h3>
        <%= render "comments/comments", comments: @post.comments, post: @post %>
        <%= render "comments/form", post: @post, comment: Comment.new %>
<!--        <%= link_to "Cancel", posts_path, data: { turbo_frame: dom_id(@post) }, 
                    class: "text-sm text-gray-500 hover:underline" %> -->
      </div>
    <% end %>

  </div>
<% end %>
